recursive-include mkdocs_with_pdf *.scss *.css *.js *.j2 *.html
recursive-exclude samples *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * node_modules
include CHANGELOG
include CONTRIBUTING.md
include LICENSE
include MANIFEST.in
include README.md
