[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mkdocs-with-pdf = {editable = true,path = "."}
pymdown-extensions = ">=7.0"
mkdocs-material = ">=5.0"
mkdocs-material-extensions = ">=1.0"
flake8 = "*"
autopep8 = "*"
mdx-gh-links = "*"

[packages]
mkdocs = ">=1.1"
beautifulsoup4 = "*"
libsass = "*"
weasyprint = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[scripts]
lint = "flake8 --show-source mkdocs_with_pdf"
format = "autopep8 -ivr mkdocs_with_pdf"
test = "python -m unittest discover -v -s tests"
