@media print {
  html {
    font-size: 95%;
  }

  body {
    font-size: 10.5pt;
    font-family: 'Noto Serif JP', serif;
  }

  article {
    font-size: .8rem;
    line-height: 1.6;
  }

  h1,
  h2,
  h3 {
    font-family: 'Noto Sans JP', "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  pre,
  code,
  var,
  samp,
  kbd,
  tt {
    font-family: 'Noto Sans Mono CJK JP', 'Courier New', monospace, serif;
    font-size: 0.7em;
  }

  pre code,
  pre var,
  pre samp,
  pre kbd,
  pre tt {
    font-size: 100%;
  }
}
