<article id="doc-cover">
    {% if logo_url is defined %}
        <div class="wrapper upper">
            <div class="logo" style="background-image: url({{logo_url}});"></div>
        </div>
    {% else %}
        <div class="wrapper"></div>
    {% endif %}
    <div class="wrapper">
        <h1>{{ cover_title }}</h1>
        <h2>{{ cover_subtitle }}</h2>
    </div>
    <div class="properties">
        <address>
            {% if author is defined %}
                <p id="author">{{ author }}</p>
            {% endif %}
            {% if copyright is defined %}
                <p id="copyright">{{ copyright }}</p>
            {% endif %}
        </address>
    </div>
</article>
