@media print {
  .md-typeset {
    line-height: 1.4;
  }
  .md-typeset ul li,
  .md-typeset ol li {
    margin-bottom: .25em;
  }

  #doc-toc ul li>a>span,
  .md-typeset h1>span,
  .md-typeset h2>span,
  .md-typeset h3>span {
    display: inline-block;
  }

  .md-typeset h1>span,
  .md-typeset h2>span,
  .md-typeset h3>span {
    padding-right: 0.2em;
  }

  .md-typeset .tx-content__footer hr {
    background-color: transparent;
    border-bottom: 1px solid #e91e63;
  }
}
