@media print {
  .md-typeset {
    line-height: 1.4;
  }
  .md-typeset ul li,
  .md-typeset ol li {
    margin-bottom: .25rem;
  }

  #doc-toc ul li>a>span,
  .md-typeset h1>span,
  .md-typeset h2>span,
  .md-typeset h3>span {
    display: inline-block;
  }

  .md-typeset h1>span,
  .md-typeset h2>span,
  .md-typeset h3>span {
    padding-right: 0.5rem;
  }

  /** workaround [[ */
  .md-typeset h2>span.twemoji,
  .md-typeset h2>span.twemoji>img {
    height: 1.363em;
  }
  .md-typeset h2>span.twemoji>img {
    margin-top: -0.3em;
  }
  #doc-toc span.twemoji,
  #doc-toc span.twemoji img {
    height: 1.125rem;
    vertical-align: middle;
  }
  /* ]] **/

  .md-typeset .tx-content__footer hr {
    background-color: transparent;
    border-bottom: 0.5px solid #e91e63;
  }

  .md-typeset .tx-insiders-container {
    display: block;
    clear: both;
  }

  .md-typeset .tx-insiders-container .tx-insiders-list {
    display: flex;
    flex-wrap: wrap;
  }

  .md-typeset .tx-insiders-container .tx-insiders-list .tx-insiders-list__item {
    float: none;
  }

  section.md-typeset[data-url="/changelog/"] h4+ul {
    margin: 0;
  }
  section.md-typeset[data-url="/changelog/"] ul>li {
    margin-bottom: 0;
  }

  article a,
  article blockquote,
  article table,
  article ul,
  article ol {
    page-break-before: auto !important;
    page-break-inside: auto !important;
  }
}
