article h2#release-notes\/\:upgrading~h3,
article h2#release-notes\/\:upgrading~div,
article h2#release-notes\/\:upgrading~ul {
	font-size: 80%;
}

@media print {
  svg * {
    fill: #333333;
  }

  #doc-toc ul li > a > span,
  .md-typeset h2 > span {
    display: inline-block;
  }

  #doc-toc .twemoji > img,
  .md-typeset .twemoji > img {
    height: 18px;
  }


  .tx-content__footer hr {
    display: inline-block;
    width: 64px;
    height: 1px;
    background-color: #999999;
  }
}
