// ----------------------------------------------------------------------------
// Dependencies
// ----------------------------------------------------------------------------

@import "modularscale";
@import "material-color";

// ----------------------------------------------------------------------------
// Local imports
// ----------------------------------------------------------------------------

@import "utilities/convert";

@import "config";

@import "main/typeset";

@import "extensions/admonition";
@import "extensions/footnotes";

@import "extensions/pymdown/tasklist";
